html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Bangla MN;
  background-color: #F2E7C9;
  color: #1D493D;
  text-align: center;
}


.aboutTitle {
  font-size: 40px;
  text-align: left;
}

#sourceInfo {
  background-color: #F7F0DE;
  color: #795C5F;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  width: 60%;
}

#projectSections {
  display: flex;
  flex-direction: row;
  width:
}

.eachSection {
  margin-left: 5%;
  margin-right: 5%;
}

#imagesAbout {
  width: 100%;
  display: flex;
  flex-direction: row;
}

img {
  width: 15%;
  height: 15%;
  margin-left: 9.16%;
  margin-right: 9.16%;
  margin-top: 0px;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D493D;
}

.navPages {
  float: right;
}

.navPages a {
  display: inline-block;
  color: #F7F0DE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  overflow: hidden
}

.navPages a:hover,
.dropdown:hover {
  background-color: #60935D;
}

.navPages.dropdown {
  display: inline-block;
}